
<div class="container">
    <div class="content-wrapper" *ngIf="questionOnj!==undefined">
        <div class="title-container">
            This is my question, someone please give me an answer.
        </div>
      <mat-card *ngFor="let sol of questionOnj.solution;let i = index" class="question-card">
        <mat-card-content>
            <div class="solution-container">
                <div class="arrows-container">
                    <button (click)="vote(i,1)"  [ngClass]="{'colored-icon':sol.upvotes.indexOf(userService.user.id)>=0}"  mat-icon-button><mat-icon>expand_less</mat-icon></button>
                    {{sol.upvotes.length-sol.downvotes.length}}
                    <button (click)="vote(i,-1)" [ngClass]="{'colored-icon':sol.downvotes.indexOf(userService.user.id)>=0}"  mat-icon-button><mat-icon>expand_more</mat-icon></button>
                </div>
                <div class="data-container">
                    <p class="username">{{sol.username}}</p>
                    <p>
                    {{sol.solution}}
                    </p>
                </div>
            </div>

        </mat-card-content>
      </mat-card>

      <mat-form-field appearance="fill">
        <textarea [(ngModel)]="solutionText" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" placeholder="Type your solution..."></textarea>
      </mat-form-field>
      <div class="new-post-actions-container">
        <button (click)="postSolution()" [disabled]="solutionText.trim()===''" mat-raised-button [ngClass]="{'post-button':solutionText!==''}">Post</button>
      </div>
    </div>
  </div>
  <div class="container">
    <p>{{data.sort()}}</p>
    
    </div>